@charset "UTF-8";

/* 
Paleta de cores:
(mais claro ao mais escuro) 
#F2F2F2
#737373
#404040
#262626
#0D0D0D
*/

:root {
    --cor0: #F2F2F2;
    --cor1: #737373;
    --cor2: #404040;
    --cor3: #262626;
    --cor4: #0D0D0D;
}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor3);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor1);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

section#login > div.imagem {
    background: url(../imagens/login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    display: block;
}

section#login > div.formulario {
    padding: 10px;
    display: block;
}