@charset "UTF-8";

/* 
Paleta de cores:
(mais claro ao mais escuro) 
#F2F2F2
#737373
#404040
#262626
#0D0D0D
*/

:root {
    --cor0: #F2F2F2;
    --cor1: #737373;
    --cor2: #404040;
    --cor3: #262626;
    --cor4: #0D0D0D;
}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor3);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor1);
    width: 300px;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div.imagem {
    background: url(../imagens/login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    display: block;
}

section#login > div.formulario {
    padding: 10px;
    display: block;
}

div.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div.formulario > p {
    font-size: 0.8em;
    text-align: center;
}

form > div.campo1 {
    background-color: #404040;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    border: 2px solid #404040;
}

form > div.campo2 {
    background-color: #404040;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    border: 2px solid #404040;
}

div.campo1 > span.material-symbols-outlined {
    color: #F2F2F2;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo2 > span.material-symbols-outlined {
    color: #F2F2F2;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo1 > input {
    background-color: #404040;
    font-size: 1em;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 47px);
    transform: translateY(-12px);
}

div.campo2 > input {
    background-color: #404040;
    font-size: 1em;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 47px);
    transform: translateY(-12px);
}

div.campo1 > input:focus-within {
    background-color: #F2F2F2;
}

div.campo2 > input:focus-within {
    background-color: #F2F2F2;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #262626;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #404040
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: #F2F2F2;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #393939;
}

form > a.botao > span.material-symbols-outlined {
    font-size: 0.8;

}